*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dada;
}

#insta{
    height: 100vh;
    width: 30%;
    background-color: #ffff;
    border-radius: 25px;
    position: relative;
}

#header{
    display: flex;
    align-items: center;justify-content: space-between;
    height: 12%;
    padding: 0 2vh;
    /* background-color: lightslategrey; */
    border-bottom: .5px solid black;
}
#header img{
    /* padding: 4px 0 0 3px; */
    width: 155px;
    height: 34px;
}
#header i{
    font-size: 28px;
}
.ri-messenger-line{
 position: relative;
}
#red{
position: absolute;
top: -5px;
background-color: red;
color: white;
border-radius: 50%;
height: 20px;
width: 20px;
right: -2px;
}
#itsp{
    font-size: 15px;
    display: flex;
align-items: center;
justify-content: center;
}
#storiya{  
    padding: 1%;
    height: 20%;
    overflow-x: auto;overflow-y:hidden;
    border-bottom: .5px solid black;
    white-space: nowrap;
}
#storiya::-webkit-scrollbar{
    display: none;
}
    .mine{
        height: 15vh;
        width: 15vh;
        padding: 2px;
        margin-left: 8px;
        margin-top: .5vh;
        border-radius: 50%;
        background-position: center;
        padding: 3px;
        display: inline-block;
        border: 1px solid black;
        background-image: url("https://static.vecteezy.com/system/resources/thumbnails/030/504/836/small/avatar-account-flat-isolated-on-transparent-background-for-graphic-and-web-design-default-social-media-profile-photo-symbol-profile-and-people-silhouette-user-icon-vector.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .ri-add-line{
        color: white;
        background-color:#0195F7;
        position: absolute;
        top: 74%;
        right: 1%;
        border-radius: 50%;
    }
 .story{
    height: 15vh;
    width: 15vh;
    padding: 2px;
    margin-left: 8px;
    margin-top: 2vh;
    background:
    linear-gradient(to left bottom, #DD02A5,#FD001C,#FFA901,#FE0004);
    /* linear-gradient(45deg, #e22db5 35%, transparent 25%) -16% 0,
    linear-gradient(135deg, #FD001C 30%, transparent 25%) -10% 0,
    linear-gradient(225deg, #FFA901 35%, transparent 25%) -10% 0,
    linear-gradient(315deg, #FE0004 35%, transparent 25%) -10% 0; */
    border-radius: 50%;
    background-position: center;
    padding: 3px;
    /* background-size: cover; */
    object-fit: cover;
    display: inline-block;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#insta::-webkit-scrollbar{
    display: none;
}

#win{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;width: 100%;
    background-color: transparent;
    display: none;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#progress{
    height: .5vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.427);
    width: 80%;
    left: 10%;
    top: 4.5vh;
    border-radius: 50px;
    overflow: hidden;
}
#reach{
    height: 1vh;
    /* position: absolute; */
    background-color: #ffff;
    width: 70%;
    left: 15%;
    top: 2vh;
    border-radius: 50px;
}